<%= render "layouts/admin_menu" %>

<div id="conteneur_intermediaire_right">
	<div class="article">
		<center><h2>Panneau d'administration</h2></center>
		<br/>
		<br/>
		<p><strong>Gérer les vins - </strong> permet d'ajouter, modifier ou supprimer les vins utilisables pour mettre en vente des bouteilles.</p>
		<p><strong>Gérer les stocks - </strong> permet d'ajouter, modifier ou supprimer des bouteilles présentes dans le catalogue et de gérer les stocks</p>
		<p><strong>Gérer les commandes - </strong> affiche les commandes existantes et permet leur
		gestion.</p>
		<p><strong>Gérer les évènements - </strong> permet d'ajouter, modifier, supprimer des
		évènements.</p>
	</div>
</div>