<div id="gestion">
	<h2>Administration</h2>
	<p><a href="#">Gérer les vin</a></p>
	<p><a href="#">Gérer les bouteilles</a></p>
	<p><a href="#">Gérer les stocks</a></p>
	<p><%= link_to 'Gérer évènement', events_path%></p>
	<p><a href="#">Gérer les commandes</a></p>
</div>

<div id="conteneur">
	<div class="article">
		<h2>Ceci est le titre d'un article</h2>
		<p>Ceci est le texte d'un article</p>
		<p>Ceci est le texte d'un article</p>
		<p>Ceci est le texte d'un article</p>
		<p><a class="lien" href="catalogue.html">Ceci est le lien vers "Catalogue".</a></p>
	</div>
</div>