<%= render "layouts/admin_menu" %>

<div id="conteneur_intermediaire_right">
	<div class="article">
		<center>
		<h1>Editer la bouteille</h1>

		<%= render 'form' %>
		</center>
		<%= link_to 'Afficher', @bottle %> |
		<%= link_to 'Retour à la liste de bouteilles', bottles_path %>
	</div>
</div>
