<%= render "layouts/admin_menu" %>

<div id="conteneur_intermediaire_right">
	<div class="article">
		<center>
		<h2>Création de bouteilles</h2>
		<%= render 'form' %>
		</center>
		<%= link_to 'Retour à la liste des bouteilles', bottles_path %>
	</div>
</div>