<%= render "layouts/account_menu" %>

<div id="conteneur_intermediaire_right">
	<div class="article">
	<center>
	<h2>Edition informations du compte</h2>
	<br/>
	<br/>
	<%= render 'form' %>
	</center>
	</div>
</div>
