<div id="conteneur_fullsize">
	<div class="article">
		<h2 class="article">Domaine de Haute Cour</h2>
		<div class='center'>
			<%= image_tag 'clos.jpg' %>
		</div>
		<p class="article">

Le domaine de la famille Pellet compte une surface de 7,5 hectares. Les deux tiers de cette surface sont situés sur le coteau de Mont-sur-Rolle et le reste dans les coteaux pentus du vallon de l'Aubonne, sur la commune de Saint-Livres (appellation Morges). Le Chasselas, cépage roi de cette région de La Côte, occupe près de 80% de la surface du domaine, mais au total ce sont 9 cépages différents qui sont cultivés sur l'exploitation dans le respect des normes de la production intégrée. Les vins blancs du domaine sont régulièrement récompensés du label de qualité Terravin. La cave est située à Mont-sur-Rolle dans un quartier tranquille de vieilles maisons vigneronnes aux rues étroites. Alliant tradition et modernité, elle est constituée d'une moitié de vases de bois et d'une moitié de cuves métalliques, démontrant bien la volonté d'élever les vins dans le respect des traditions , tout en y intégrant les méthodes modernes. La famille Pellet se réjouit de vous accueillir dans ses murs pour vous faire déguster sa production. Vous serez chez nous les bienvenus en téléphonant vous serez attendus.(Cave ouverte du lundi au samedi sur rendez-vous) </p>
	</div>
</div>
