<%= render "layouts/admin_menu" %>

<div id="conteneur_intermediaire_right">
	<div class="article">
		<center>
		<h2>Editer l'évènement</h2>

		<%= render 'form' %>
		</center>
		<%= link_to 'Afficher', @event %> |
		<%= link_to 'Retour à la liste des évènements', events_path %>
	</div>
</div>
