<%= render "layouts/admin_menu" %>

<div id="conteneur_intermediaire_right">
	<div class="article">
		<h2><center>Création d'évènement</center></h2>
		<center>
		<%= render 'form' %>
		</center>

		<%= link_to 'Retour à la liste d\'évènements', events_path %>
	</div>
</div>
