<%= render "layouts/admin_menu" %>

<div id="conteneur_intermediaire_right">
	<div class="article">
		<center>
		<br/>
		<h2>Editer le vin</h2>
		<br/>
		<br/>
		<%= render 'form' %>
		</center>
		<%= link_to 'Afficher', @wine %> |
		<%= link_to 'Retour à la liste de vin', wines_path %>
	</div>
</div>
