<div id="gestion">
	<h2>Gestionnaire</h2>
	<p><%= link_to 'Gérer les vins', wines_path %></p>
	<p><%= link_to 'Gérer le stocks', bottles_path %></p>
	<p><%= link_to 'Gérer les commandes', orders_path %></p>
	<p><%= link_to 'Gérer les évènements', events_path %></p>
</div>