<!DOCTYPE html>
<html>
<head>
  <title>WBHauteCour</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<p> Je suis dans le app layout <p>
</body>
</html>
